.navWrapper {
  background: #ef5350;
  width: 100vw;
  height: auto;
  position: fixed;
  overflow: hidden;
}
.navList {
  display: flex;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navItem:nth-child(1) {
  margin-right: auto;
}
.navItem {
  width: 5rem;
  height: 100%;
  cursor: pointer;
}

.navTitle {
  height: 100%;
  display: flex;
  padding-left: 1rem;
  flex: 2;
  border-bottom: 5px solid transparent;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .navItem:nth-child(1) {
    margin: 0;
  }

  .navTitle {
    display: none;
  }
}
